apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rag-postgres-pvc
  namespace: rag-agent
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 50Gi
