apiVersion: v1
kind: Service
metadata:
  name: rag-postgres
  namespace: rag-agent
  labels:
    app: rag-postgres
spec:
  type: ClusterIP
  ports:
  - name: postgresql
    port: 5432
    targetPort: postgresql
    protocol: TCP
  selector:
    app: rag-postgres
  sessionAffinity: None
